

  <h1>Online Calculator | Add </h1>
  <form action="/calculate_add" method="POST">
<label for="first_num"> Enter a number:</label>
  <label for="second_num"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;and another one:</label>
  <br>
  <input type="number" id="first_num" placeholder="a number" name="first_number"> +
   <input type="number" id="second_num" placeholder="another number" name="second_number">
   <button type="submit">Go ahead, push it</button>
</form>





