<h1>Online Calculator </h1>

<form action="/calculate" method="POST">
  <br>
  <input type="number" placeholder="a number" name="first_number"> 
   <input type="number" placeholder="another number" name="second_number">
   <br>
   
   <button type="submit" name="operation" value="add">Add</button>
   
   <button type="submit" name="operation" value="subtract">Subtract</button>
   
   <button type="submit" name="operation" value="multiply">Multiply</button>
   
   <button type="submit" name="operation" value="divide">Divide</button>
</form>