<!DOCTYPE html>
<html>
<head>
  <title>ConcertApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'  %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


	<footer>
		All rights reserved by Nick Borbe, inc.  All Information presented here is the intellectual property of Nick Borbe, the sarcastic revolutionary, and may not be retransmitted, redistributed, or represented in any manner without the expressed, written consent of Nick Borbe.  And he's probably not gonna give it to you so don't bother asking.
	</footer>
</body>
</html>
