<h1> Create New Comment </h1>

<form action="/new_comment" method="POST">
  <br>
  <input type="text" placeholder="Title" name="title"> 
    <input type="text" placeholder="Type you name here" name="author"> 

   <input type="text" placeholder="write your comment here" name="contents">
   <br>
   
   <button type="submit">Submit Your Comment</button>
   
   
</form>