<h1> Create New Post </h1>

<form action="/new_post" method="POST">
  <br>
  <input type="text" placeholder="Title" name="title"> 
    <input type="text" placeholder="Type you name here" name="author"> 

   <input type="text" placeholder="write you blog post here" name="contents">
   <br>
   
   <button type="submit">Submit Your Post</button>
   
   
</form>