<h1> Contacts Index </h1>
<%@contacts.each do |contact| %>
	<ul>
		<li>
			Name: <%=contact.name%> Address: <%=contact.address%> Phone number: <%=contact.phone_number%> Email: <%=contact.email%>
		</li>
	</ul>
	<%end%>