body { 
  background: url('colorful-background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.beige-bar{

	background-color: rgba(	255, 235, 205, .85);
}

.sign-up{
	text-align: center;
	font-size: 18px;
}

.top-bar {
	height: 50px;
	
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.first-border {
	border-style: solid;
	border-width: 1px;
	border-color: rgba(225, 225, 225, .4);
	background-color: rgba(200, 200, 200, .4);
	border-radius: 4px;
	height: 40px;
}

.search-bar {
	
	
}

.search-thing {

	background-color: rgba(200, 200, 200, .4);
	border-color: rgba(225, 225, 225, .4);
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

textarea:focus, input:focus{
    outline: none;
    color: white;
    font-size: 15px;
}


.top-of-page {
	color: white;
	font-size: 15px;


}