<!doctype html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheet.css">
</head>

<body>
<div class="container-fluid">
	<div class="row top-bar">
		<div class="col-sm-1">
			<a href="#">
				
			<div class="first-border" style="width: 110px; padding-left: 10px; margin-top: 5%;">

				<div class="glyphicon glyphicon-tasks" style="font-size: 25px; color: white; margin-top: 10px;"></div>

				<p style="font-size: 15px; color: white; margin-top: -30px; margin-left: 40px; padding-right: 5px;">Boards</p>

			</a>
			</div> <!-- first border -->
		</div> <!-- col-sm-1 -->
			

			<div class="col-sm-2">
				<div class="search-bar">
					<input type="text" placeholder="Search" style="margin-top: 4px; height: 40px; border-radius: 5px;" class="search-thing">
					<div class="glyphicon glyphicon-search" style=" font-size: 20px; color: white; margin-top: 10px;"></div>

				</div>	<!-- search bar div -->
			</div> <!-- col-sm-2 -->
				

		
	</div> <!-- row -->
</div> <!-- container-fluid -->

</body>
</html>