<html>
<head>
	<title>About the Revolutionary</title>
	<link rel="stylesheet" type="text/css" href="blog.css">
		<meta charset="utf-8">
</head>

<body>
	<header>
			<h1>About the Sarcastic Revolutionary (myself)</h1>
	</header>

	<!-- <nav>
		<a href = "index.html"> Home </a>
	</nav> -->

	<article>
		<h4>Nick Borbe</h4>
		<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hi guys.  My name is Nick Borbe and I am the revolutionary.  I enjoy fidgeting, cooking, hiking, long walks on the beach, driving the speed limit, and playing fetch with my dog. <br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Also, I am a certified yoga instructor, a semi-pro singer,songwriter, and guitar player, and I have written a novel that is currently in the process of being published. The title is Waking Up in Hindsight and you can read it online for free <a href = "https://clippings.me/nickborbe"> here </a>  There are also other short stories on that site as well as one live recording of a song I wrote.  
		</p>
		<p>This is a picture of me looking like a respectable human being</p>
		<p> <img src="suit_tie.jpg" /> </p>
		<p>Here's one of me hanging out with a couple of my second cousins</p>
		<p> <img src="monkeys.jpg" /> </p>
		<p>Here I am with my cousins on my mom's side using yoga to remind people everywhere to live life to the fullest</p>
		<p> <img src="yolo.jpg" /> </p>
		<p>And finally, this is my clown face as it exists today</p>
		<p> <img src="clown_face.jpg" /> </p>
	</article>
	<p>If you haven't been scared away by the pictures, here is a table of my job history to illustrate that, despite my clownish appearance and overall synical disposition, I'm actually quite employable</p>

				<table>
					<h4>Employment History</h4>
					<thead>
						<tr><th>Company</th> <th>City</th> <th>Period of Employment</th>  <th>Position (highest reached)</th>  </tr>
					</thead>

					<tbody>
						<tr><td>Coldstone Creamery</td>  <td>Miami, FL</td> <td>2006-2010</td>   <td>Manager/Supervisor</td> </tr>
						<tr> <td>Institutional Deposits Corp/Charities Services Centers</td> <td>Miami, FL</td> <td>2010-2014</td> <td>Special Projects Advisor </td>    </tr>
						<tr><td>Smith Law Group</td>  <td>Oakland, CA</td> <td>2014-2015</td> <td>Paralegal </td> </tr>
					</tbody>
				</table>
		<br> <br>
				<p>As I mentioned earlier, I enjoy cooking (not a joke).  Here are a few of my favorite meals to cook. </p>
				


				<table>
					<h4>Staples of the Revolutionary</h4>
					<thead>
						<tr><th>Meal</th> <th>No. of Ingredients</th> <th>Prep/Cook time</th>  <th>Difficulty</th>  </tr>
					</thead>

					<tbody>
						<tr> <td>Pizza (from scratch (obviously))</td>  <td>10-15</td> <td>4 hrs</td>   <td>Intermediate</td> </tr>
						<tr> <td>Stuffed Mussels and Mushrooms</td>  <td>8-12</td> <td>1 hr</td>   <td>Intermediate</td> </tr>
						<tr> <td>Sous Vide Porterhouse Pork Chops <br>(with whipped potatoes, roasted brussels sprouts <br> and pureed artichoke/balsamic drizzle) </td>  
							<td>15-20</td> <td>2 Days</td>   <td>Advanced</td> </tr>
						<tr> <td>Ceviche Salad</td>  <td>5-8</td> <td>30 Min</td>   <td>Easy</td> </tr>
						<tr> <td>Seafood Bún Soup</td>  <td>5-10</td> <td>30 Min</td>   <td>Easy</td> </tr>
						<tr> <td>Orange/Rosemary Chicken + Risotto</td>  <td>5-10</td> <td>1 Hr</td>   <td>Intermediate</td> </tr>
						<tr> <td>Pulpo Gallego</td>  <td>10-15</td> <td>3 Hrs</td>   <td>Intermediate</td> </tr>
						<tr>   <td>Pulled Pork Sandwiches + Cole Slaw</td> <td>5-10</td> <td>2 Days</td> <td>Advanced</td>    </tr>
					</tbody>
				</table>
				<p> <img src="mussels.jpg" /> </p>
				<p>Stuffed Mussels and Mushrooms</p>
				<p> <img src="pulpo.jpg" /> </p>
				<p>And a mediterranean variation on Pulpo Gallego (I like to improvise) </p>

				<br><br>
				<p>Now, For Good Measure, this is a list of my favorite bands/recording artists (unordered because music is so nuanced that value judgments are irrelevant to the upper echelon) </p>
				<ul>
					<li> Florida Georgia Line</li>
					<li>Bink 182</li>
					<li>G-Eazy</li>
					<li>Norah Jones</li>
					<li>The Grateful Dead</li>
					<li>The Lumineers</li>
					<li>The Avett Brothers</li>
					<li>The Killers</li>
					<li>The Notorious B.I.G.</li>
					<li>Yellowcard</li>
					<li>Creedance Clearwater Revival</li>
					<li>Eminem</li>
					<li>Fleetwood Mac</li>
					<li>The Format</li>

				</ul>








</body>
</html>