<h1> Search for Movies </h1>

<form action="/results" method="POST">
  
  <input type="text" placeholder="type in a keyword here" name="keyword"> 
    

   
   <button type="submit">Search</button>
   
   
</form>