<h1> Results </h1>

<div>
	<a href="/"> Home </a>
</div>

<div> Which one of these movies was released in <%=@random_movie.year%>?(click on the movie) </div>

<p>

	
	<%@array.each do |image| %> 

	<%if image == @random_movie  %>

	<img src= "<%=image.poster%>" style="width:200px;" onClick="alert('CORRECT! CONGRATS YOU MUST WATCH A LOT OF MOVIES')" /> 

	<%else %>

	<img src= "<%=image.poster%>" style="width:200px;" onClick="alert('INCORRECT! YOU MUST TALK TO PEOPLE INSTEAD OF WATCHING MOVIES, SHAME ON YOU!')" /> 

	<%end%>


	<%end%>




	</p>
