<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheet.css">
</head>

<body>
	<div class="container-fluid">
		<div class="col-m-1 top-of-page" style="padding: 10px;" > <b> HOME&nbsp; TOUR&nbsp; BLOG </b> 
		<span class="col-sm-12" align="center"> 
			<img src="trello-logo.png" height="28">
		 </span>
		 <div class="col-m-12" align="right">
		 	<button type="button" class="btn btn-primary">Sign Up</button> &nbsp;&nbsp;&nbsp; 
		 	<button type="button" class="btn btn-success">Log In</button>
		 </div>
		</div>
	</div>

	
	<div class="container-fluid beige-bar" height= "100">
		<p class="sign-up" style="margin-top: 10px">
			<span class="u-inline-block"> <b>Want to subscribe to these cards?</b>
			</span>
			<span class="u-inline-block"> <a class="btn btn-success">Sign up for free</a> or <a class="quiet"source=public-board-banner">learn more about Trello</a> 
			</span>


		</p>

	</div>




<div class="container-fluid">
	<div class="row top-bar">
		<div class="col-sm-1">
			<a href="#">
				<div class="first-border" style="width: 110px; padding-left: 10px; margin-top: 5%;">

				<div class="glyphicon glyphicon-tasks" style="font-size: 25px; color: white; margin-top: 10px;">
				</div>
				<div style="font-size: 15px; color: white; margin-top: -30px; margin-left: 40px; padding-right: 15px;">Boards</div>
			</a>
			</div><!-- first border -->
		</div><!-- col-sm-1 -->
			
			<div class="col-sm-2"
				<div class="search-bar">
					<input type="text" placeholder="Search" style="margin-top: 5px; height: 40px; border-radius: 5px;" class="search-thing"> 
					<div class="glyphicon glyphicon-search" style=" font-size: 20px; color: white; margin-top: 10px;"></div>


				</div>	<!-- search bar div -->
			</div> <!-- col-sm-2 -->
	</div><!-- row -->
</div><!-- container-fluid -->










</body>

</html>