<!doctype html>
<html>
  <head>
    <title>Trello Clone</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          left header col
        </div>

        <div class="col-sm-4">
          middle header col
        </div>

        <div class="col-sm-4">
          right header col
        </div>
      </div><!-- /header row -->

      <div class="row">
        <div class="col-sm-9">

          <div class="row">
            <div class="col-sm-12">

              <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                      Agile Board
                    </a>
                  </div>

                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                      <li>
                        <a href="#">
                          <span class="glyphicon glyphicon-briefcase"></span>
                          Inspiring Boards
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="glyphicon glyphicon-star-empty"></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="glyphicon glyphicon-globe"></span>
                          Public
                        </a>
                      </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                      <li>
                        <a href="#">
                          <span class="glyphicon glyphicon-calendar"></span>
                          Calendar
                        </a>
                      </li>
                    </ul>

                  </div> <!-- /navbar-collapse -->
                </div>
              </nav>

            </div><!-- title column -->

          </div> <!-- board title row -->


          <div class="row">
            <div class="col-sm-4">
              List #1
            </div>

            <div class="col-sm-4">
              List #2
            </div>

            <div class="col-sm-4">
              List #3
            </div>
          </div> <!-- lists row -->

        </div><!-- /main content -->

        <div class="col-sm-3">
          Menu
        </div><!-- menu -->
      </div><!-- /other stuff row -->

    </div><!-- /container fluid -->
  </body>
</html>