<!doctype html>
<html>
  <head>
    <title>Trello Clone</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheet.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          left header col
        </div>

        <div class="col-sm-4">
          middle header col
        </div>

        <div class="col-sm-4">
          right header col
        </div>
      </div><!-- /header row -->

      <div class="row">
        <div class="col-sm-9">

          <div class="row">
            <div class="col-sm-8">
              Title of the Board
            </div><!-- title column -->

            <div class="col-sm-4">
              Controls
            </div><!-- controls column -->

          </div> <!-- board title row -->


          <div class="row">
            <div class="col-sm-4">
              List #1
            </div>

            <div class="col-sm-4">
              List #2
            </div>

            <div class="col-sm-4">
              List #3
            </div>
          </div> <!-- lists row -->

        </div><!-- /main content -->

        <div class="col-sm-3">
          Menu
        </div><!-- menu -->
      </div><!-- /other stuff row -->

    </div><!-- /container fluid -->
  </body>
</html>