<h1> Comics App </h1>

<% unless current_user.nil? %>
	<a href="users/sign_out" data-method="delete">
		Log Out
	</a>

	<%else%>
	<a href= "/users/sign_in">
		Log In
	</a>
	<br>

	<a href= "users/sign_up">
		Go Ahead, Sign Up
	</a>
	<%end%>